html {
	height:100%;
}

body {
	margin:0;
	height:100%;
	overflow:hidden;
	backgground-color:#000;
}

svg {
	display:block;
	float:left;
	width:100%;
	height:100%;
	cursor:none;
}

[debugger] {
	position:absolute;
	right:0;
	padding:10px;
	border-left:1px solid #888;
	border-bottom:1px solid #888;
	background-color:rgba(255, 255, 255, 0.5);
}

[cursor] {
	pointer-events: none;
	position:absolute;
	z-index: 1000;
	border-radius:50%;
	border:1px solid #888;
}

[controls] {
	position:absolute;
	z-index:1000;
	border-right:1px solid #888;
	height:100%;
	min-height:100%;
	background-color:#fff;
	text-align:center;
}

.controls-show.ng-hide-add.ng-hide-add-active,
.controls-show.ng-hide-remove.ng-hide-remove-active {
	-webkit-transition:all linear 0.2s;
	transition:all linear 0.2s;
}

.controls-show {
	width:auto;
}

.controls-show.ng-hide {
	width:0px;
}

.control {
	padding:20px 20px 0;
}

.control .label {
	background-color:#000;
	color:#fff;
	padding:3px;
}

#brushsize {
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
	width: 8px;
    height: 175px;
}

.close {
	position:absolute;
	top:3px;
	left:3px;
	cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}